header{font-family: 'Roboto', sans-serif;}
.wideScreenHeader{display: none;}

img{
    width: 150px;
    margin: 1rem;
    border-radius: 40px;
}

.mobileHeader{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed; /* Fiksuotas viršuje */
    top: 0;
    left: 0;
    width: 100%; /* Užima visą plotį */
    background-image: url(/images/nav_background.png);
    background-size: cover;
    z-index: 1000; /* Užtikrina, kad bus virš kitų elementų */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Parodys švelnią šešėlį po headeriu */
}

.burgerMenu{position: relative;}
#menuToggle{display: none;}

.menuButton{
    position: absolute;
    right: 3rem;
    top: 0;
    z-index: 1;
    width: 20px;
    height: 30px;
    cursor: pointer;
}

.menuButton > span,
.menuButton > span::before,
.menuButton > span::after{
    display: block;
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: white;
    border-radius: 2px;
    transition: transform 0.25s, top 0.25s;
}

.menuButton > span::before{
    content: '';
    top: -8px;
}

.menuButton > span::after{
    content: '';
    top: 8px;
}

#menuToggle:checked + .menuButton > span{   
    transform: rotate(45deg);
}

#menuToggle:checked + .menuButton > span::before{
    top: 0;
    transform: rotate(0deg);
}

#menuToggle:checked + .menuButton > span::after{
    top: 0;
    transform: rotate(90deg);
}

.menuBox{
    position: absolute;
    right: 0;
    width: 220px;
    height: 100vh;
    background-color: rgb(237, 237, 237);
    padding: 10px 0;
    border-radius: 0 0 8px 8px;
    list-style: none;
    opacity: 0;
    pointer-events: none;
}

#menuToggle:checked ~ .menuBox{
    opacity: 1;
    pointer-events: auto;
}

.menuItem{
    font-weight: 600;
    display: block;
    padding: 1rem 2rem;
    color: grey;
    text-decoration: none;
    transition: all 0.5s;
}

.mainMenuItem{
    background-color: rgb(255, 217, 0);
    color: black;
}

.menuItem:hover{
    background-color: black;
    color: white;
}

@media screen and (min-width: 768px){
    .mobileHeader{display: none;    }

    .wideScreenHeader{
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        /* background-color: rgb(13, 73, 102); */
        background-image: url(/images/nav_background.png);
        background-size: cover;
        z-index: 1000;
        transition: top 0.3s; /* Lėtas perėjimas */
    }

    .nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        list-style-type: none;
        display: flex;
        box-shadow: 0 0 20px black;
        margin: 0;
        padding: 0 2rem;
    }

    .nav > *{display: flex;}

    .nav > ul{
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        gap: 0.8rem;
    }
      
    .nav a{
        color: white;
        text-decoration: none;
        font-size: 25px;
        transition: all 0.4s;
        padding: 1rem 0;
        flex: 1;
        font-size: 17px;
    }
      
    .nav a:hover{
        box-shadow: inset 0 2px 0 rgba(255, 255, 255, 0.2), inset 0 -2px 0 rgba(255, 255, 255, 0.2);
    }

    .logo a:hover{ box-shadow: none;}
    .wideScreenHeader.visible{top: 0;}
    .wideScreenHeader.hidden{top: -200px;}
}

@media screen and (min-width: 992px){
    img{width: 200px;}
    .nav a{font-size: 22px;}
    .nav > ul{gap: 2rem;}
}