body{
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
  background-color: rgb(250, 250, 250);
  margin-top: 60px;
}

html{
  scroll-behavior: smooth;
  scroll-padding-top: 50px;
}

html, body{
  width: 100%;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}